<phpunit colors="true" bootstrap="bootstrap.php" convertNoticesToExceptions="true">
    <testsuites>
        <testsuite name="wpengine-geoip-unit-tests">
            <directory suffix="-test.php">unit</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="../artifacts/code_coverage"/>
        <log type="coverage-clover" target="../artifacts/clover.xml"/>
    </logging>

    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">/var/www/html/wp-content/plugins/wpengine-geoip/</directory>
        </whitelist>
    </filter>
</phpunit>
